.m0 {
  margin: 4px;
}

.m1 {
  margin: 8px;
}

.m2 {
  margin: 16px;
}

.m3 {
  margin: 24px;
}

.m4 {
  margin: 32px;
}

.ml0 {
  margin-left: 4px;
}

.ml1 {
  margin-left: 8px;
}

.ml2 {
  margin-left: 16px;
}

.ml3 {
  margin-left: 24px;
}

.ml4 {
  margin-left: 32px;
}

.mb0 {
  margin-bottom: 4px;
}

.mb1 {
  margin-bottom: 8px;
}

.mb2 {
  margin-bottom: 16px;
}

.mb3 {
  margin-bottom: 24px;
}

.mb4 {
  margin-bottom: 32px;
}

.my0 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mt0 {
  margin-top: 4px;
}

.mt1 {
  margin-top: 8px;
}

.mt2 {
  margin-top: 16px;
}

.mt3 {
  margin-top: 24px;
}

.mt4 {
  margin-top: 32px;
}



.p0 {
  padding: 4px;
}

.p1 {
  padding: 8px;
}

.p2 {
  padding: 16px;
}

.p3 {
  padding: 24px;
}

.p4 {
  padding: 32px;
}

.pl0 {
  padding-left: 4px;
}

.pl1 {
  padding-left: 8px;
}

.pl2 {
  padding-left: 16px;
}

.pl3 {
  padding-left: 24px;
}

.pl4 {
  padding-left: 32px;
}

.pr0 {
  padding-right: 4px;
}

.pr1 {
  padding-right: 8px;
}

.pr2 {
  padding-right: 16px;
}

.pr3 {
  padding-right: 24px;
}

.pr4 {
  padding-right: 32px;
}

.pb0 {
  padding-bottom: 4px;
}

.pb1 {
  padding-bottom: 8px;
}

.pb2 {
  padding-bottom: 16px;
}

.pb3 {
  padding-bottom: 24px;
}

.pb4 {
  padding-bottom: 32px;
}

.py0 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py3 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py4 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.pt0 {
  padding-top: 4px;
}

.pt1 {
  padding-top: 8px;
}

.pt2 {
  padding-top: 16px;
}

.pt3 {
  padding-top: 24px;
}

.pt4 {
  padding-top: 32px;
}

.px0 {
  padding-left: 4px;
  padding-right: 4px;
}

.px1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px3 {
  padding-left: 24px;
  padding-right: 24px;
}

.px4 {
  padding-left: 32px;
  padding-right: 32px;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.w-third {
  width: 33%;
}

.w-quarter {
  width: 25%;
}

.h-full {
  height: 100%;
}
